* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
    background-image: linear-gradient(
        to right bottom, lightgrey, rgb(107, 12, 12)
    );
}
.wrapper{
    background-color: #fff;
    padding: 2rem;
    width: 65%;  
    border-radius: 30px;
}
h2{
    text-align: center;
}
.visible{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2rem 0 1rem 0;
    cursor: pointer;
    font-size: 20px;
    position: relative;
}
.visible::after{
    content: '+';
    position: absolute;
    right: -5px;
 }

.content{
    font-family: Arial;
    font-size: 15px;
   
}
.invisible{
    margin-top: 1rem;
    font-size: 20px; 
    height: 0px;
    overflow: hidden;
    transition: .5s;
    width: 100%;
    line-height: 1.5;
}
 

 /* js styling */
 .wrapper .content.active .invisible{
    height: 250px;
 }

 .wrapper .content.active .visible{
    font-size: 18px;
    transition: .5s;
 }
 .wrapper .content.active .visible::after{
    content: '-';
    font-size: 30px;
    transition: .5s;
 }